@import "tailwindcss";

.topnav {
	@apply bg-linear-to-r from-blue-950 to-blue-800;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	padding: 0vh 0vw;
	top: 0vh;
	box-shadow: 0em 0.5em 1em rgba(0,0,0,0.5);
	z-index: 100;
	transition: 0.2s ease-in-out;
}  

.topnav .link{
	float: left;
	color: white;
	padding: 2em 1.25em;
}

.link
{
	font-family: 'Georgia';
	font-size: 1.1em;
	border-radius: 0.5em;
	transition: 0.1s ease-in-out;
}

.link:hover, .dark_mode:hover{
	margin-top: 0;
	background-color: white;
	color: DarkBlue;
	transform: scale(110%);
	transition: background-color 0.1s ease, transform 0.5s ease, color 0.5s ease, padding 0.2s ease-in-out;
	
}
.link:active{
	transform: scale(90%);
}

.dark_mode:hover{
	box-shadow: 0em 0.2em 1em rgba(0,0,0,1);
	border-color: white;
}
.home{
	float: left;
	margin-top: 0;
	padding: 0em 1em;
	color: white;
	font-family: 'Playwrite NZ Basic Guides';
	font-weight: bold;
	font-size: 1.75em;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

.home:hover{
	text-shadow: .1em .1em 10px black;
	color: white;
	transform: scale(1.5);
	margin-right: 1em;
	margin-left: 1em;
}
.dark_mode{
	border-collapse: collapse;
	border-radius: 100%;
	@apply bg-blue-600;
	padding: 18px 20px;
	margin-left: auto;
	margin-right: 20px;
	float: right
}