.word{
    width: 90vw;
    height: 50vh;
    border:5px solid black;
    margin: auto;
    padding-bottom: 10em;
    padding-left: 1em;
    border-radius: 10px;
    overflow: auto;
    background-color: #ffd700;
    fill-opacity: 100%;
}

.header
{
    text-align:center;
    font-family:"Georgia";
    font-size: 10vh;
}

.definition{
    font-size: 50px;
}