@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Basic+Guides&display=swap');
@import "tailwindcss";

:root {
  @apply bg-linear-to-b from-blue-400 to-blue-900;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width:100vw;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: bg-cyan-50;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  @apply text-7xl;
  @apply font-bold;
  @apply p-10;
}

main
{
  
  @apply h-[80vh];

  @apply my-[4vh];
  @apply py-[10vh];
  @apply mx-[2vw];
  @apply rounded-3xl;
  @apply bg-black/30;
  overflow: auto;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(10vh);
  animation: fade-up 0.75s ease forwards;
}

@keyframes fade-up {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

main:hover{
  @apply bg-black/40;
}


body {
  margin: 0 px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: #ffffff;
  }
}
